/* */

body {
	background-color:green;

}

h1.#title {
	width: 50%;
	text-align:center;
	margin: 0 auto;
	margin-top:2%;
	font-size: 50px;
	position:relative;
}

#welcoming {
	 display:flex;
	 flex-direction:column;
	 justify-content:center;
}

h1{
	text-align: center;
}
h2 {
	text-align: center;
}
h3 {
	text-align:center;
}

.timer {
	width:50%;
	margin: 0 auto;
	height:100px;
}
#trivialChase {
	width:800px;
	height:500px;
	margin:auto;
	text-align:center;
	background-color: white;
}

#startGame {
	
	text-align:center;
}

.first {
	text-align: left;
	float:left;
	margin-top:10px;
	width:95%;
}

.answer {
	text-align: left;
	width:95%;
	float:left;
	clear:left;
	height:30px;
	border:groove 1px red;
	margin-top:15px;
	margin-left: 5%;
}

.wrong {
	margin-top:10px;
}
@media all and (max-width:640px) and (min-width:320px) {
  
  
}

@media all and (max-width:768px) and (min-width:641px) {
  
}

@media all and (max-width: 980px) and (min-width:769px) {

}